<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    {{> header}}
    <h1>Hello User!</h1>
</body>
</html>